@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html{
    height:100%;
    width:100%;
    font-family: 'Poppins', sans-serif;
}
body{
  .carousel{
    text-align: center !important;
    background-color: #797979 !important;
    opacity: 50% !important;
  }
  .col-lg-6{
    text-align: center !important;
  }
  .contact{
    text-align: center !important;
  }
  
}
p {
  color: rgb(153, 121, 121);
} 

img{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center; 
}

.contact{
  margin: auto;

}


@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"');
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
